* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  padding: 2em;
  background-color: rgb(169, 207, 159);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

h1 {
  margin-bottom: 0.5em;
}

.markdown-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 2em;
  padding: 1em;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
